@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  background-color: #f0f0f0;
}

input{
    border-color: #fefefe;
    border-radius: 5px;
}

button{
    background-color: #A3F0E3;
    font-size: 30px;
    margin-left:15px;
    padding:5px;
    border-radius: 15px;
}

button:hover {
background-color: #e3F6E3;
}